@font-face {
	font-family:Arial;
	font-style:italic;
	font-weight:bold;
	src : url("../Fonts/Arial-BoldItalicMT.ttf");
}
@font-face {
	font-family:Arial;
	font-style:oblique;
	font-weight:bold;
	src : url("../Fonts/Arial-BoldItalicMT.ttf");
}
@font-face {
	font-family:Arial;
	font-style:italic;
	font-weight:normal;
	src : url("../Fonts/Arial-ItalicMT.ttf");
}
@font-face {
	font-family:Arial;
	font-style:oblique;
	font-weight:normal;
	src : url("../Fonts/Arial-ItalicMT.ttf");
}
@font-face {
	font-family:"Berlin Sans FB";
	font-style:normal;
	font-weight:normal;
	src : url("../Fonts/BerlinSansFB-Reg.TTF");
}
@font-face {
	font-family:Gabriola;
	font-style:normal;
	font-weight:normal;
	src : url("../Fonts/Gabriola.ttf");
}
@font-face {
	font-family:"Segoe Print";
	font-style:normal;
	font-weight:bold;
	src : url("../Fonts/SegoePrint-Bold.ttf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:normal;
	font-weight:bold;
	src : url("../Fonts/TimesNewRomanPS-BoldMT.ttf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:normal;
	font-weight:normal;
	src : url("../Fonts/TimesNewRomanPSMT.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
body {
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
div.Basic-Graphics-Frame {
}
div.Basic-Text-Frame {
}
p.Basic-Paragraph, li.Basic-Paragraph {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.TOC-Body-Text {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	text-align:right;
}
p.ParaOverride-3 {
	text-align:justify;
}
p.ParaOverride-4 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
}
p.ParaOverride-5 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	text-align:justify;
}
p.ParaOverride-6 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	text-align:right;
}
li.ParaOverride-7 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	list-style-position:outside;
	list-style-type:decimal;
	margin-left:18px;
	text-indent:0px;
}
li.ParaOverride-9 {
	list-style-position:outside;
	list-style-type:decimal;
	margin-left:18px;
	text-indent:0px;
}
span.CharOverride-1 {
	font-family:Gabriola;
	font-size:2em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:"Berlin Sans FB";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:"Times New Roman";
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	font-family:"Segoe Print", sans-serif;
	font-size:0.833em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	font-family:Gabriola;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:Arial, sans-serif;
	font-size:0.917em;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:"Berlin Sans FB";
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
}
span.CharOverride-11 {
	font-family:"Berlin Sans FB";
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-12 {
	font-family:"Berlin Sans FB";
	font-size:0.958em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	font-family:"Berlin Sans FB";
	font-size:0.833em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-18 {
	font-family:"Berlin Sans FB";
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-19 {
	font-family:"Berlin Sans FB";
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-20 {
	font-family:"Berlin Sans FB";
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-25 {
	font-family:Gabriola;
	font-size:0.995em;
	font-style:normal;
	font-weight:normal;
}
img._idGenPageitem-1 {
	height:255px;
	width:234px;
}
div._idGenPageitem-7 {
	display:inline-block;
	height:184px;
	width:168px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
