#results {
  position: absolute;
  top: 130px;
  left: 300px;
  border: 1px dashed purple;
  min-height: 150px;
  width: 500px;
}

textarea {
  display: block;
  margin-bottom: 20px;
}

button {
  min-width: 100px;
	height: 33px;
	padding: 5px 10px;
	cursor: pointer;
	text-align: center;
	font-size: xx-small;
	background:#80a9da;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(#80a9da,0),color-stop(#6f97c5,1));
	background:-webkit-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	background:-moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	background:-o-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	background:linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	display:inline-block;
	border:1px solid #5d81ab;
	-webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
	-moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
	box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}